body {
  background-color: #4fe0bc;
}

/* Utilities */
.not-visible {
  display: none;
}
.snack-active {
  background-color: #4fe0bc;
}
/* First bonus */
#bonus-container {
  background-color: #3ee6fa;
}

#bonus-container .col-2 {
  border: 2px dashed #67b3f0;
  border-radius: 0 0 25px 25px;
  border-top: none;
}

/* Super bonus */
#sb-snack1,
#sb-snack2 {
  border: 2px dashed #67b3f0;
  border-top: none;
}
#sb-snack2 {
  border-radius: 0 0 25px 25px;
}

button,
input {
  background-color: #67b3f0;
  border: 1px solid #5afa98;
  border-radius: 10px;
}
