body {
  background-color: #ffdd90;
}

/* Utilities */
.not-visible {
  display: none;
}
.snack-active {
  background-color: #ffdd90;
}
/* First bonus */
#bonus-container {
  background-color: #f9963b;
}

#bonus-container .col-2 {
  border: 2px dashed #ce4920;
  border-radius: 0 0 25px 25px;
  border-top: none;
}

/* Super bonus */
#sb-snack1,
#sb-snack2 {
  border: 2px dashed #f9963b;
  border-top: none;
}
#sb-snack2 {
  border-radius: 0 0 25px 25px;
}

button,
input {
  background-color: #f9963b;
  border: 1px solid #ce4920;
  border-radius: 10px;
}
